// Colors
$clr1: #004889;
$clr2: #00adef;
$clr3: #717171;
$clr4: #303030;
$clr5: #ffffff;
$clr6: #f7f7f7;
$clr7: #dddddd;
$clr8: #7e7e7e;
$clr9: #ebebeb;
$clr10: #000000;
$clr11: #ebebeb;
$clr12: #b4b4b4;
$clr13: #ececec;
$clr14: #95defb;
$clr15: #052642;

// Breakpoints
$break-mobile: 350px;
$break-narrow: 480px;
$break-tablet: 620px;
$break-normal: 820px;
$break-large: 1100px;
$break-wide: 1300px;
